# Archivos creados para el formulario CRISP-DM
preguntas_crisp_dm.md
crear_formulario_crisp_dm.gs
crear_encuesta_usdt.gs
evaluacion_grupal_proyecto_crisp_dm.md
evaluacion1_grupal_proyecto_crisp_dm.md
crear_formulario_evaluacion_grupal_crisp_dm.gs
